@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,500&display=swap');

/* *,
*::before,
*::after  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #342E2D;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.sec-2,
.sec-3,
.sec-5 {
  margin: 15px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
  font-weight: 900;
  line-height: 3.8rem;
  color: #DE4B3C;
  margin: 0 0 30px 0;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  font-weight: 900;
  /* line-height: 3.8rem; */
  color: #DE4B3C;
  /* margin: 0 0 20px 0; */
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
  margin: 20px 0 0 0;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fffaf5;
  width: 100%;
  height: 5vh;
  z-index: 1;
}

nav {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.nav-ul li a {
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  color: #000;
}

html {
  scroll-behavior: smooth;
}

.hamburger {
  background-color: transparent;
  border: 0;
  display: none;
  color: #342E2D;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}

.hamburger:focus {
  outline: none;
}

/* - - - - - - - HOME - - - - - - - */

.sec-1 {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
  animation: fadeIn 2.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.line {
  border-bottom: 1px solid white;
  display: block;
}

.title {
  margin-top: 5px;
  font-weight: 900;
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  animation: fadeIn 4s;
}

.title p {
  margin-top: 12px;
}

/* - - - - - - ABOUT - - - - - - */

.sec-2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: lightgoldenrodyellow; */
}

.info-about {
  color: white;
  display: flex;
  font-size: 1.2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  text-align: center;
}

.people {
  font-family: 'Playfair Display', serif;
  /* text-transform: uppercase; */
  font-size: 1.5em;
  font-weight: 900;
}

.casco {
  width: 80px;
  margin: 40px 0 0 0;
}

.sec-2-title {
  line-height: 3.8rem;
  color: #DE4B3C;
  margin-bottom: 15px;
  /*background-color: pink;*/
}

/* --- SECTION 3 --- */

.sec-3 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
}

.sec-3 .text {
  display: flex;
  flex-direction: column;
  /* background-color: yellowgreen; */
}

.img1 {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.im01 {
  width: 100%;
  margin-bottom: 13px;
}

.img2 {
  display: flex;
  justify-content: space-between;
}

.im02,
.im03 {
  max-width: 48.5%;
}

.im02 {
  margin-right: 7px;
}

/* --- SEC 04 --- */

.sec-4 {
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* - - - - - - CONTACT - - - - - - */

.sect-05 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  /* background-color: ; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 820px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: #DE4B3C;
  position: relative;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #DE4B3C;
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.form-title {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.7rem;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input-1,
.input-2,
.input-3,
.input-4 {
  width: 100%;
  outline: none;
  border: 1px solid white;
  background: none;
  padding: 0.6rem 1.2rem;
  color: white;
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 10px;
  transition: 0.3seg;
}

textarea.input-4 {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  resize: none;
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.submit {
  padding: 0.6rem 1.3rem;
  background-color: white;
  border: 2px solid white;
  font-size: 0.95rem;
  color: #865858;
  line-height: 1;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
}

.submit:hover {
  background-color: transparent;
  color: white;
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.input-container span:before,
.input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition: 0.3s;
  height: 5px;
  background-color: #DE4B3C;
  top: 50%;
  transform: translateY(-50%);
}

.input-container span:before {
  left: 50%;
}

.input-container span:after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
  color: #5B4A4A;
}

.touch-title {
  color: #342E2D;
}

.touch-text {
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #5B4A4A, #AAAAAA);
  color: white;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: .3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid #5B4A4A;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.big-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #DE4B3C, #8E7F7F);
  bottom: 50%;
  right: 50%;
  transform: translate(-40%, 38%);
}

.big-circle:after {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: #342E2D;
  border-radius: 50%;
  top: calc(50% - 180px);
  left: calc(50% - 180px);
}

@media screen and (max-width: 1082px) {

  h2 {
    font-size: 6em;
    line-height: 0.75em;
  }

  .info {
    width: 50%;
  }

  h4 {
    margin: 0 0 -15px 0;
  }

  .info {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {

  nav {
    flex-direction: column;
  }

  .sec-3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .img1 {
    width: 100%;
  }

  .nav-ul {
    background-color: rgba(70, 70, 70, .5);
    margin-top: 35px;
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    left: 0;
  }

  .nav-ul.show {
    display: flex;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
  }

  .nav-ul li a {
    color: white;
    width: 80px;
    padding: 0 0 8px 0;
  }

  .info {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

/* - - - - - - MEDIA QUERY 550PX - - - - - - */

@media (max-width: 550px) {

  .contact-info {
    /* background-color: turquoise; */
    padding: 1em 0.5em;
    margin: 0.6em;
    max-width: 90%;
  }

  .info {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  /* - - - - - - - - - - */

  .formInput {
    padding: 1.5em 0.8em;
  }

  .form-title {
    font-size: 1em;
    margin: 0.6em 0;
  }

  .contact-form {
    padding: 0;
    width: 100%;
  }

  .input-container {
    width: 100%;
  }

  .input-1,
  .input-2,
  .input-3,
  .input-4 {
    margin: 0;
    width: 100%;
  }
}

/* - - - - - - MEDIA QUERY 480PX - - - - - - */

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .sec-2 {
    text-align: center;
  }

  .info-about {
    width: 100%;
  }

  /* - - - - - - CONTACT - - - - - - */

  .box-container {
    /* background-color: yellow; */
    padding: 0;
    margin: 0;
  }

  .form {
    /* background-color: springgreen; */
    padding: 0;
    margin: 0;
  }

  .contact-info {
    /* background-color: turquoise; */
    padding: 1em 0;
    margin: 0.6em;
    max-width: 90%;
  }

  .info {
    padding: 0;
    /* background-color: violet; */
    margin: 0;
    width: 100%;
  }

  .information {
    margin: 1em 0;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }

  /* - - - - - - - - - - - - - - - - - - - - */
  .formInput {
    padding: 1.5em 0.6em;
  }

  .form-title {
    font-size: 1em;
    margin: 0.6em 0;
  }

  .contact-form {
    padding: 0;
    width: 100%;
  }

  .input-container {
    width: 100%;
  }

  .input-1,
  .input-2,
  .input-3,
  .input-4 {
    margin: 0;
    width: 100%;
  }

  .contact-info:before {
    display: none;
  }

  .big-circle {
    display: none;
  }

  .touch-text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 18px;
  }

  .submmit {
    padding: 0.4rem 0.8rem;
  }
}